.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.form-input {
    max-width: 175px; /* Set the maximum width in pixels */
}

.form {
    min-width: 300px;
}

.btn-row {
    display: flex;
    margin-top: 1rem;
}

.btn-frst {
    width: 100px;
}

.btn-scnd {
    width: 80px;
    margin-left: 1rem;
}